* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
}

body {
  position: relative;
}

.container {
  margin: 0 auto;
}

.common_btn {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border: 2px solid #FA5B0F;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: #FA5B0F;
  letter-spacing: 1px;
  transition: all 0.3s linear;
}
.common_btn:hover {
  color: #FA5B0F;
  background-color: transparent;
}
.common_btn span {
  padding-right: 10px;
}

.common_section_heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 55px;
  color: #555;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 1px;
  padding-bottom: 2 0px;
}
.common_section_heading h2 span {
  color: #FA5B0F;
}
.common_section_heading p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #555;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.common_section_heading p::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FA5B0F;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}
.common_section_heading p::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FA5B0F;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

#nav_main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  background-color: transparent;
}
#nav_main .navbar-brand {
  width: 60px;
  height: 60px;
  padding: unset;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  cursor: pointer;
}
#nav_main .navbar-brand:hover {
  color: #555;
}
#nav_main .navbar-toggler {
  border: 0;
  color: #fff;
  border-radius: 50%;
}
#nav_main .navbar-toggler:focus {
  box-shadow: none;
}
#nav_main .menu {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#nav_main .menu .nav-link {
  color: #fff;
  padding: unset;
  font-weight: 500;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s linear;
  position: relative;
  padding: 5px 10px;
}
#nav_main .menu .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% + 10px);
  left: 0;
  top: -5px;
  border-left: 2px solid #FA5B0F;
  border-right: 2px solid #FA5B0F;
  transform: scale(1, 0);
  transition: all 0.3s linear;
}
#nav_main .menu .nav-link::before {
  position: absolute;
  content: "";
  width: calc(100% + 10px);
  height: 100%;
  top: 0;
  left: -5px;
  border-top: 2px solid #FA5B0F;
  border-bottom: 2px solid #FA5B0F;
  transform: scale(0, 1);
  transition: all 0.3s linear;
}
#nav_main .menu .nav-link:hover::after {
  transform: scale(1, 1);
}
#nav_main .menu .nav-link:hover::before {
  transform: scale(1, 1);
}

#banner {
  width: 100%;
  padding: 300px 0;
  height: 100vh;
  background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.7)), url(../../../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner .banner_wrapper {
  gap: 30px;
  align-items: center;
  justify-content: center;
}
#banner .banner_wrapper .banner_img_wrapper .banner_img {
  margin-left: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border: 10px solid #FA5B0F;
}
#banner .banner_wrapper .banner_content_wrapper {
  margin: 0 auto;
}
#banner .banner_wrapper .banner_content_wrapper h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-transform: uppercase;
  color: #eeeeee;
  line-height: 1.4;
  padding-bottom: 15px;
}
#banner .banner_wrapper .banner_content_wrapper h2 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #eeeeee;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}
#banner .banner_wrapper .banner_content_wrapper h2 span {
  color: #FA5B0F;
}
#banner .banner_wrapper .banner_content_wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #eeeeee;
  line-height: 1.6;
  text-transform: capitalize;
  padding-bottom: 15px;
}
#banner .banner_wrapper .banner_content_wrapper .banner_btn_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

#about {
  padding: 60px 0;
}
#about .about_part_1_wrapper {
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #555;
}
#about .about_part_1_wrapper .about_img_wrapper {
  width: 440px;
  height: 440px;
  border: 5px solid #FA5B0F;
  position: relative;
  z-index: 555;
}
#about .about_part_1_wrapper .about_img_wrapper .about_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#about .about_part_1_wrapper .about_details_wrapper .about_details_item_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#about .about_part_1_wrapper .about_details_wrapper .about_details_item_wrapper .about_details ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 30px;
  color: #555;
  line-height: 1.4;
}
#about .about_part_1_wrapper .about_details_wrapper .about_details_item_wrapper .about_details ul li span {
  font-weight: 400;
  padding-right: 30px;
}
#about .about_part_1_wrapper .about_details_wrapper .about_btn {
  margin-left: 40px;
}
#about .about_skill_part_wrapper {
  row-gap: 30px;
}
#about .about_skill_part_wrapper h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: #555;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}
#about .skill_item {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
#about .skill_item .progress-bar {
  text-align: right;
  color: #fff;
  background-color: #FA5B0F;
  font-weight: 700;
}
#about .skill_item .progress_html {
  width: 90%;
  animation: progress_html 2s linear 0.5s 1;
}
@keyframes progress_html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
#about .skill_item .progress_css {
  width: 80%;
  animation: progress_css 2s linear 0.5s 1;
}
@keyframes progress_css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
#about .skill_item .progress_sass {
  width: 90%;
  animation: progress_sass 3s linear 0.5s 1;
}
@keyframes progress_sass {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
#about .skill_item .progress_bem {
  width: 95%;
  animation: progress_bem 4s linear 0.5s 1;
}
@keyframes progress_bem {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
#about .skill_item .progress_java {
  width: 30%;
  animation: progress_java 4s linear 0.5s 1;
}
@keyframes progress_java {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
#about .skill_item .progress_jquery {
  width: 50%;
  animation: progress_jquery 4s linear 0.5s 1;
}
@keyframes progress_jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */