* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.8;
  padding: unset;
  margin: unset;
}

body {
  position: relative;
}

.container {
  margin: 0 auto;
}

.common_btn {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
  border: 2px solid #FF5722;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: #FF5722;
  letter-spacing: 1px;
  transition: all 0.3s linear;
}
.common_btn:hover {
  color: #FF5722;
  background-color: transparent;
}
.common_btn span {
  padding-right: 10px;
}

.common_section_heading h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 55px;
  color: #555;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.common_section_heading h2 span {
  color: #FF5722;
}
.common_section_heading p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #555;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.common_section_heading p::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FF5722;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}
.common_section_heading p::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #FF5722;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

#nav_main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0;
  background-color: #124D5C;
}
#nav_main .navbar-brand {
  width: 60px;
  height: 60px;
  padding: unset;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.3s linear;
  cursor: pointer;
}
#nav_main .navbar-brand:hover {
  color: #555;
}
#nav_main .navbar-toggler {
  border: 0;
  color: #fff;
  border-radius: 50%;
}
#nav_main .navbar-toggler:focus {
  box-shadow: none;
}
#nav_main .menu {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#nav_main .menu .nav-link {
  color: #fff;
  padding: unset;
  font-weight: 500;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s linear;
  position: relative;
  padding: 5px 10px;
}
#nav_main .menu .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% + 10px);
  left: 0;
  top: -5px;
  border-left: 2px solid #FF5722;
  border-right: 2px solid #FF5722;
  transform: scale(1, 0);
  transition: all 0.3s linear;
}
#nav_main .menu .nav-link::before {
  position: absolute;
  content: "";
  width: calc(100% + 10px);
  height: 100%;
  top: 0;
  left: -5px;
  border-top: 2px solid #FF5722;
  border-bottom: 2px solid #FF5722;
  transform: scale(0, 1);
  transition: all 0.3s linear;
}
#nav_main .menu .nav-link:hover::after {
  transform: scale(1, 1);
}
#nav_main .menu .nav-link:hover::before {
  transform: scale(1, 1);
}

#nav_main.fixed_nav {
  position: sticky;
  background-color: #124D5C;
  padding: 5px 0;
  top: 0;
  left: 0;
  z-index: 99999999999;
}

#banner {
  width: 100%;
  padding: 300px 0;
  height: 100vh;
  background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.7)), url(../../../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner .banner_wrapper {
  gap: 30px;
  align-items: center;
  justify-content: center;
}
#banner .banner_wrapper .banner_img_wrapper .banner_img {
  margin-left: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border: 10px solid #FF5722;
}
#banner .banner_wrapper .banner_content_wrapper {
  margin: 0 auto;
}
#banner .banner_wrapper .banner_content_wrapper h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  text-transform: uppercase;
  color: #eeeeee;
  line-height: 1.4;
  padding-bottom: 15px;
}
#banner .banner_wrapper .banner_content_wrapper h2 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #eeeeee;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}
#banner .banner_wrapper .banner_content_wrapper h2 span {
  color: #FF5722;
}
#banner .banner_wrapper .banner_content_wrapper p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #eeeeee;
  line-height: 1.6;
  text-transform: capitalize;
  padding-bottom: 15px;
}
#banner .banner_wrapper .banner_content_wrapper .banner_btn_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

#about {
  padding: 60px 0;
}
#about .about_part_1_wrapper {
  margin: 50px 0;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #555;
}
#about .about_part_1_wrapper .about_img_wrapper {
  width: 440px;
  height: 440px;
  border: 5px solid #FF5722;
  position: relative;
  z-index: 555;
}
#about .about_part_1_wrapper .about_img_wrapper .about_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#about .about_part_1_wrapper .about_details_wrapper .about_details_item_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#about .about_part_1_wrapper .about_details_wrapper .about_details_item_wrapper .about_details ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 30px;
  color: #555;
  line-height: 1.4;
}
#about .about_part_1_wrapper .about_details_wrapper .about_details_item_wrapper .about_details ul li span {
  font-weight: 400;
  padding-right: 30px;
}
#about .about_part_1_wrapper .about_details_wrapper .about_btn {
  margin-left: 40px;
}
#about .about_skill_part_wrapper {
  row-gap: 30px;
}
#about .about_skill_part_wrapper h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: #555;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
}
#about .skill_item {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
#about .skill_item p {
  padding: 10px;
}
#about .skill_item .progress-bar {
  text-align: right;
  color: #fff;
  background-color: #FF5722;
  font-weight: 700;
}
#about .skill_item .progress_html {
  width: 90%;
  animation: progress_html 2s linear 3s 1;
}
@keyframes progress_html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
#about .skill_item .progress_css {
  width: 80%;
  animation: progress_css 2s linear 3s 1;
}
@keyframes progress_css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
#about .skill_item .progress_sass {
  width: 90%;
  animation: progress_sass 3s linear 3s 1;
}
@keyframes progress_sass {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
#about .skill_item .progress_bem {
  width: 95%;
  animation: progress_bem 4s linear 3s 1;
}
@keyframes progress_bem {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
#about .skill_item .progress_java {
  width: 30%;
  animation: progress_java 4s linear 3s 1;
}
@keyframes progress_java {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
#about .skill_item .progress_jquery {
  width: 50%;
  animation: progress_jquery 4s linear 3s 1;
}
@keyframes progress_jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

#portfolio {
  padding: 50px 50px;
}
#portfolio .portfolio_item_wrapper {
  margin: 30px 0;
  row-gap: 30px;
}
#portfolio .portfolio_item_wrapper .portfolio_item {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  border: 2px solid #FF5722;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}
#portfolio .portfolio_item_wrapper .portfolio_item .project_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF5722;
  z-index: 555;
  transform: scale(0);
  transition: all 0.3s linear;
}
#portfolio .portfolio_item_wrapper .portfolio_item .project_overlay h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.4;
  padding-bottom: 30px;
}
#portfolio .portfolio_item_wrapper .portfolio_item .project_overlay .portfolio_btn {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}
#portfolio .portfolio_item_wrapper .portfolio_item .project_overlay .portfolio_btn .common_btn {
  color: #fff;
  border-color: #fff;
}
#portfolio .portfolio_item_wrapper .portfolio_item .project_overlay .portfolio_btn .common_btn:hover {
  color: #555;
  border-color: #555;
}
#portfolio .portfolio_item_wrapper .portfolio_item:hover .project_overlay {
  transform: scale(1);
}

#blog {
  padding: 60px 0;
}
#blog .blog_item_wrapper {
  margin: 50px;
  justify-content: center;
  row-gap: 50px;
}
#blog .blog_item_wrapper .blog_item {
  width: 540px;
  margin: 0 auto;
}
#blog .blog_item_wrapper .blog_item .blog_img {
  width: 100%;
  height: 270px;
  border-radius: 5px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  margin-bottom: 20px;
}
#blog .blog_item_wrapper .blog_item .blog_img img {
  transition: all 0.3s linear;
}
#blog .blog_item_wrapper .blog_item .blog_img:hover img {
  transform: scale(1.1);
}
#blog .blog_item_wrapper .blog_item .blog_img .blog_post_date {
  width: 40px;
  height: 50px;
  border-radius: 3px;
  background-color: #FF5722;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}
#blog .blog_item_wrapper .blog_item .blog_img .blog_post_date .post_day {
  font-size: 16px;
}
#blog .blog_item_wrapper .blog_item .blog_img .blog_post_date .post_date {
  font-size: 12px;
}
#blog .blog_item_wrapper .blog_item .blog_content h4 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #555;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 20px;
}
#blog .blog_item_wrapper .blog_item .blog_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #555;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 25px;
}
#blog .blog_post_btn {
  text-align: center;
}
#blog .blog_post_btn .common_btn {
  background-color: transparent;
  color: #FF5722;
}
#blog .blog_post_btn .common_btn:hover {
  background-color: #FF5722;
  color: #fff;
}

#contact {
  padding: 60px 0;
}
#contact .contact_part_wrapper {
  justify-content: center;
  row-gap: 30px;
  margin: 50px 0;
}
#contact .contact_part_wrapper .contact_details_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 0 auto;
}
#contact .contact_part_wrapper .contact_details_wrapper .contact_details_item {
  font-family: "Open Sans", sans-serif;
  color: #555;
}
#contact .contact_part_wrapper .contact_details_wrapper .contact_details_item h6 {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 15px;
}
#contact .contact_part_wrapper .contact_details_wrapper .contact_details_item p {
  font-weight: 500;
  font-size: 16px;
}
#contact .contact_part_wrapper .contact_details_wrapper .contact_details_item p span {
  color: #FF5722;
  padding-right: 10px;
}
#contact .contact_part_wrapper .contact_details_wrapper .social_link_wrapper h6 {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 15px;
}
#contact .contact_part_wrapper .contact_details_wrapper .social_link_wrapper .social_link_group {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#contact .contact_part_wrapper .contact_details_wrapper .social_link_wrapper .social_link_group .social_link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
#contact .contact_part_wrapper .contact_details_wrapper .social_link_wrapper .social_link_group .social_link a {
  color: #FF5722;
  transition: all 0.3s linear;
}
#contact .contact_part_wrapper .contact_details_wrapper .social_link_wrapper .social_link_group .social_link:hover {
  background-color: #FF5722;
}
#contact .contact_part_wrapper .contact_details_wrapper .social_link_wrapper .social_link_group .social_link:hover a {
  color: #fff;
  transform: rotate(360deg);
}
#contact .contact_part_wrapper .contact_form_wrapper {
  margin: 0 auto;
}
#contact .contact_part_wrapper .contact_form_wrapper p {
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  text-transform: capitalize;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form {
  margin-top: 30px;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form .inp_box {
  position: relative;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form .inp_box span {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 16px;
  font-weight: 300;
  color: #555;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form .form_group {
  display: flex;
  gap: 30px;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form input, #contact .contact_part_wrapper .contact_form_wrapper .contact_form textarea {
  padding: 15px 40px;
  resize: none;
  border: 1px solid #555;
  border-radius: 20px;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form input::-moz-placeholder, #contact .contact_part_wrapper .contact_form_wrapper .contact_form textarea::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #555;
  text-transform: uppercase;
  font-weight: 400;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form input::placeholder, #contact .contact_part_wrapper .contact_form_wrapper .contact_form textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #555;
  text-transform: uppercase;
  font-weight: 400;
}
#contact .contact_part_wrapper .contact_form_wrapper .contact_form input:focus, #contact .contact_part_wrapper .contact_form_wrapper .contact_form textarea:focus {
  box-shadow: none;
  border: 1px solid #FF5722;
}

.page {
  position: relative;
  height: 100%;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 111111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s all linear;
  pointer-events: none;
  backface-visibility: hidden;
}

.preloader::before,
.preloader::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.2s linear;
  transform: translateY(0);
  pointer-events: none;
}

.preloader::before {
  top: 0;
  bottom: 50%;
  background: #fff;
}

.preloader::after {
  top: 50%;
  bottom: 0;
  background: #fff;
}

.preloader.loaded::before,
.preloader.loaded::after {
  transition: 0.4s linear;
}

.preloader.loaded::before {
  transform: translateY(-101%);
}

.preloader.loaded::after {
  transform: translateY(101%);
}

.preloader.loaded .preloader-container {
  opacity: 0;
  visibility: hidden;
  transition: 0s;
}

.preloader-text-center {
  transition: 0s 0.2s;
}

.preloader-container {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

.preloader-container h1 {
  margin: 0;
  padding: 20px 0;
  color: #222;
  font-weight: 700;
  font-size: 42px;
}

#progress-line-container {
  width: 100vw;
  height: 5px;
  overflow: hidden;
  margin: auto;
}

.progress-line {
  background: #FF5722;
  margin-top: 0;
  margin-left: -100vw;
  animation-name: progess_animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100vw;
  height: 5px;
  transition: 0.5s;
}

@keyframes progess_animation {
  0% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 100vw;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

html:not(.lt-ie10) .not-animated {
  opacity: 0;
}/*# sourceMappingURL=style.css.map */