// ===== about section css start here =====
#about {
	padding: 60px 0;
	.about_part_1_wrapper {
		margin: 50px 0;
		justify-content: center;
		align-items: center;
        gap: 40px;
        padding-bottom: 50px;
        border-bottom: 1px solid $text-clr;
		.about_img_wrapper {
			width: 440px;
			height: 440px;
			border: 5px solid $primary-clr;
			position: relative;
			z-index: 555;
			.about_img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				overflow: hidden;
				position: absolute;
				bottom: 30px;
				right: 30px;
			}
		}
		.about_details_wrapper {
			.about_details_item_wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				gap: 30px;
				.about_details {
					ul li {
						font-family: $secondary-font;
						font-weight: 600;
						font-size: 16px;
						padding-bottom: 30px;
						color: $text-clr;
						line-height: 1.4;
						span {
							font-weight: 400;
							padding-right: 30px;
						}
					}
				}
			}
			.about_btn {
				margin-left: 40px;
			}
		}
	}
    .about_skill_part_wrapper{
        row-gap: 30px;
        h3{
            font-family: $primary-font;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            color: $text-clr;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 20px;
        }
    }
    .skill_item{
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 18px;
        p{
            padding: 10px;
        }
        .progress-bar{
            text-align: right;
            color: $white-clr;
            background-color: $primary-clr;
            font-weight: 700;
        }
        .progress_html{
            width: 90%;
            animation: progress_html 2s linear 3s 1;
        }
        @keyframes progress_html {
            0%{
                width: 0%;
            }100%{
                width: 90%;
            }
        }
        .progress_css{
            width: 80%;
            animation: progress_css 2s linear 3s 1;
        }
        @keyframes progress_css {
            0%{
                width: 0%;
            }100%{
                width: 80%;
            }
            
        }
        .progress_sass{
            width: 90%;
            animation: progress_sass 3s linear 3s 1;
        }
        @keyframes progress_sass {
            0%{
                width: 0%;
            }100%{
                width: 90%;
            }
        }
        .progress_bem{
            width: 95%;
            animation: progress_bem 4s linear 3s 1;
        }
        @keyframes progress_bem {
            0%{
                width: 0%;
            }100%{
                width: 95%;
            }
        }
        .progress_java{
            width: 30%;
            animation: progress_java 4s linear 3s 1;
        }
        @keyframes progress_java {
            0%{
                width: 0%;
            }100%{
                width: 30%;
            }
        }
        .progress_jquery{
            width: 50%;
            animation: progress_jquery 4s linear 3s 1;
        }
        @keyframes progress_jquery {
            0%{
                width: 0%;
            }100%{
                width: 50%;
            }
        }
    }
}
// ===== about section css start here =====
