// ===== banner css start here =====
#banner {
    width: 100%;
    padding: 300px 0;
    height: 100vh;
    background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.7)),
        url(../../../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .banner_wrapper {
        gap: 30px;
        align-items: center;
        justify-content: center;
        .banner_img_wrapper {
            .banner_img {
                margin-left: auto;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                overflow: hidden;
                object-fit: cover;
                border: 10px solid $primary-clr;
                
            }
        }
        .banner_content_wrapper{
            margin: 0 auto;
            h6{
                font-family: $secondary-font;
                font-weight: 400;
                font-size: 19px;
                text-transform: uppercase;
                color: $pera-clr;
                line-height: 1.4;
                padding-bottom: 15px;
            }
            h2{
                font-family: $primary-font;
                font-size: 42px;
                font-weight: 700;
                color: $pera-clr;
                text-transform: uppercase;
                line-height: 1.4;
                padding-bottom: 15px;
                span{
                    color: $primary-clr;
                }
            }
            p{
                font-family: $secondary-font;
                font-size: 16px;
                font-weight: 400;
                color: $pera-clr;
                line-height: 1.6;
                text-transform: capitalize;
                padding-bottom: 15px;
            }
            .banner_btn_wrapper{
                display: flex;
                align-items: center;
                gap: 20px;
                
            }

        }
    }
}

// ===== banner css end here =====
