// ===== common css =====
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style-type: none;
    margin: unset;
    padding: unset;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    padding: unset;
    margin: unset;
}
body{
    position: relative;
}
.container{
    margin: 0 auto;
}
.common_btn{
    font-size: 15px;
    font-weight: 500;
    font-family: $primary-font;
    color: $white-clr;
    border: 2px solid $primary-clr;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 100px;
    background-color: $primary-clr;
    letter-spacing: 1px;
    transition: $transition;
    &:hover{
        color: $primary-clr;
        background-color: transparent;                                                
    }
    span{
        padding-right: 10px;
    }
}
.common_section_heading{
    h2{
        font-family: $primary-font;
        font-weight: 900;
        font-size: 55px;
        color: $text-clr;
        text-transform: uppercase;
        line-height: 1.4;
        letter-spacing: 1px;
        padding-bottom: 20px;
        span{
            color: $primary-clr;
        }
    }
    p{
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.4;
        color: $text-clr;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        &::after{
            position: absolute;
            content: "";
            width: 30px;
            height: 2px;
            background-color: $primary-clr;
            top: 50%;
            left: -50px;
            transform: translateY(-50%);
        }
        &::before{
            position: absolute;
            content: "";
            width: 30px;
            height: 2px;
            background-color: $primary-clr;
            top: 50%;
            right: -50px;
            transform: translateY(-50%);
        }
    }
}

// ===== common css =====