// ===== variables =====
// === color ===
$white-clr:#fff;
$primary-clr: #FF5722;
$text-clr: #555;
$pera-clr: #eeeeee;

// === color ===
// === font ===
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
// === font ===

// === transition ===
$transition : all 0.3s linear;
// === transition ===

// ===== variables =====
